body { margin:0; padding:0; width: 100%; }
 
.wrap {
    width:100%;
    margin:0 auto;
}
.header { 
    height:140px;
    margin-bottom:15px;
    background-color:#0d7963;
}
.content {
    width:70%;
    height:450px;
    background-color:#0d7963;
    float:right;

}
.content input[type=date]{
    margin-left: 10px;
    margin-top: 10px;
}
.sidebar {
    width:29%;
    height:450px;
    background-color:#0d7963;
    float:left;
}
.footer {
    height:70px ;
    margin-top:15px;
    background-color:#0d7963;
}
.clear {
    clear:both;
}